<div class="search-wrapper">
 
  <div class="search-bar">
    <form class="search-btn" action="/search" method="post">
        <input type="search" id="search" name="search" autocomplete="off" placeholder="Search for City or Country" data-search>
        <button type="submit"> &#128269</button>
    </form>
  </div>

<div class="user-cards" data-user-cards-container>
    <template data-user-template>
    
    <div class="card">
      <div class="header" data-header></div>
      <div class="body" data-body></div>
    </div>

  </template>
</div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/js/db.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>

