<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portkey</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .nav-bar{
       /*  position: absolute; */
        display:flex;
        width: 100vw;
        background-color: #9ADCFF ;
        justify-content: space-evenly;
        padding: 10px 0px;
      }
      .nav-bar > a {
        text-decoration: none;
        color: #faee6b; 
      }
      .nav-bar > a:hover {
        cursor: pointer;
        color: #fc6290;
      }
    </style>
   
    <link rel="stylesheet" href="/css/weather.css" />
    <link rel="stylesheet" href="/css/maps.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  </head>
  <body>

    <nav>
      <div class="nav-bar" width="2000px">
        <a class='nav-link' href="/user/login">Login</a>
        <a class='nav-link' href="/user/create">Sign Up</a>
        <a class='nav-link' href="/auth/profile">Profile</a>
        <a class='nav-link' href="/post/create"> Create Posts</a>
        <a class='nav-link' href="/post/all-posts"> View Posts</a>
        <a class='nav-link' href="/user/logout">Logout</a>
    </div>
    </nav>

    <%- body %>

  </body>
</html>
