.body-container{
    height: 100vh;
    width: 100vw;
    
/*     border: 1px solid black; */
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px; /* to change later */
    background-image: url('../images/bdportkey.jpg');
    background-size: cover;

}

.body-post-container{
    height: 100vh;
    width: 100vw;
    
/*     border: 1px solid black; */
  
    padding-bottom: 200px; /* to change later */
    background-image: url('../images/bdportkey.jpg');
    background-size: cover;
}

.card-container{
    width: 30%;
   
    height: 50%;
    padding: 10px 40px 10px 40px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
   
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #faf8d9;
}


.card-container.login{
    width: 20%;
    height: 50%;
    padding: 10px 20px 10px 20px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #faf8d9;
}

.card-form{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Hubballi', cursive;
    height: 80%;
}

.card-form > button,
.create-card > button {
    
    align-self: flex-end;
    padding: 10px 20px;
    border-radius: 8px;
    border: .4px solid #2424cb;
    background-color: #a0cde7;
    cursor: pointer;
}

.create-card > textarea {
    border-radius: 8px;
    border: 1px solid #2424cb;
}



.info-form{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.create-card{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
   width: 300px;
    height: 80%;
}
  .card-container:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }



.profile-pic{
    width: 100%;
  /*   border: 1px solid grey;
   
 */
    font-size: 1rem;
    height: 30px;

}

.card-form > input,
.create-card > input[type=text] {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    font-size: 1rem;
    border-radius: 8px;
    height: 30px;
    border: 1px solid #2424cb;
   
}

.card-form > button,
.create-card > button {
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

.profile-container{
    width: 40%;
    height: 75%;
   
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #faf8d9;
  
    overflow: hidden;
}

.create-post-container{
    width: 30%;
    height: 75%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #faf8d9;
  
    overflow: hidden;
}

.prof-details{
    width: 50%;
    height: 100%;
  /*   border: 2px solid black; */
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 5px;
  
}

.prof-pictures{
    padding: 5px;
    width: 50%;
    height: 100%;
 /*    border: 2px solid black; */
    background-color: #f0eba3;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.view-card{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 5px;
    gap: 5px;
    max-height: 80%;
    min-width: inherit;
    overflow: auto;
    /* border: 2px solid black; */
}

h1,
h2,
h3,
h4{
  font-family: 'Indie Flower', cursive;
}
.article-card{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
    background-color: #f0eba3;
    border-radius: 8px;
    border: .7px solid #2424cb;
    font-family: 'Hubballi', cursive;
}

.article-card > a > button {
   
    outline: none;
    font-family: 'Indie Flower', cursive;
    cursor: pointer;
  
    color: #2424cb; 
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 8px;
    border: .4px solid #2424cb;
    background-color: #a0cde7;
    float:right;
}

.prof-pictures > img {
   /*  border: 2px solid black; */
    border-radius: 50%;
    width: 60%;
    height: 35%;
    background-size:cover;
    background-color: #faf8d9;


}

.view-gallery{
   /*  border: 1px solid black; */
    width: 100%;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    
}

.view-gallery > .image-card > img{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    margin: 5px;
    aspect-ratio: 1/1;
    transition: transform .2s; 
   
   }
   
   .view-gallery > .image-card  > img:hover{
     transform: scale(1.2);
   }
   

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

.posts-container{
    display: grid;
 
grid-template-columns: repeat(3, 1fr);
 
grid-auto-rows: auto;
grid-gap: 1rem;
}
.card-post{
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
     
}
