.wrapper{
    display:flex;
    /* flex-wrap: wrap; */
    
    height: 100vh;
    width:100vw;
    background-image: url('../images/travell.jpg');
    background-size: cover;
    background-position: 40% 20%;

  /*   border:1px solid black; */
}

.head-wrapper{
  /*   display:flex;
    flex-wrap: wrap; */
    width: 50vw;
  /*   justify-content: center;
    align-items: center; */
   /*  background-image: url('../images/travel.jpg'); */
  /*   border-right: .2px solid #2424cb; */
 
}



.home-container{
   
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  /*   border: 2px solid #2424cb; */
    width: 50vw;
    background-size: cover;
    
}

.left-div{
    width: 50vw;
    height: 100%;
   /*  border: 2px solid black; */
    overflow: hidden;
    position: relative;
}

.right-div > img {
    aspect-ratio: 1 /1;
    object-fit: cover;
    object-position: center;
  
}

.right-div{
    width: 50vw;
    height: 100%;
   /*  border: 2px solid black; */
}


.search-div{
    margin-top: .25rem;
    top: 50%;
    position:absolute;
    border: 1px solid black;
    width: /* 25vw; */ 250px;
    height: 32px;
    border-radius: 8px;
    overflow: hidden;
/*     inset: 0;
    top: 100px; */
}

@media only screen and (max-width: 600px) {
    .wrapper{
        display:flex;
        /* flex-wrap: wrap; */
        
        height: 100vh;
        width:100vw;
        background-image: url('../images/travell.jpg');
        background-size: cover;
        background-position: 55% 10%;
      /*   border:1px solid black; */
    }
    .search-div {
        width: 240px;
        height: 32px;
    }
    .search-bar{
        display:flex;
        flex-wrap: wrap;
     /*    position:absolute; */
     
    }
    
    .search-bar > input {
      
      
        border:none;
        padding-left: 10px;
        padding-right: 2px;
        outline: none;
        font-size: 1rem;
        height: 32px;
        
    }
    .search-bar > button {
       background-color: white;
       border: none;
       
       
      
    }
    .user-cards{
        display:none;
        overflow: hidden;
       /*  position: relative; */
        flex-direction: column;
        /* margin-top: .25rem; */
        max-height: 20vh;   
        gap: .25rem;
        width: 150px;
        /* border: 1px solid black; */
        border-radius: 8px;
        padding: 5px;
        
    }
    
  }


.search-bar{
    display:flex;
    flex-wrap: wrap;
 /*    position:absolute; */
 
}

.search-bar > input {
   
    width: 90%;
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    font-size: 1rem;
}

.search-bar > button {
    background-color: lightgrey;
    border: none;
    padding: 6px;
    width: 10%;
    
  
}
.hide {
    display:none;
}

.user-cards{
    display:none;
    overflow: hidden;
   /*  position: relative; */
    flex-direction: column;
    /* margin-top: .25rem; */
    max-height: 20vh;   
    gap: .25rem;
    width: 250px;
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: 5px;
    
}


.card {
   
  /*   border: 1px solid black; */
    background-color: transparent;
    padding: .25rem;
    border-radius: 8px;
  
 
}

.user-cards:hover{
    cursor: pointer;
}

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
}

.img-wrap{
    
   /*  border: 1px solid black; */
    height: 48vh;
 
}


.img-wrapper{
   /*  position: relative; */
    overflow: hidden;
   
}
.img-wrap > img{
    position:relative;
    display:block;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.img-wrapper > .country-name{
    position: absolute;
    inset: 0;
    padding: 1rem;
    background: rgba(255,255,255,.4);
    display:flex;
    justify-content: center;
    align-items: center;
}

