.weather-card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 33vw;
    height: 40vh;
    background-color: rgba(98, 196, 238, 0.7);
    border-radius: 5px;
    padding: 1em;
}

.weather-top {
    display: flex;
    margin-bottom: 0.4em; 
}

.weather-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 0.5em;
}

.forecast {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 1em;
}

.forecast > h4 {
    margin-bottom: 0.2em;
}

.forecastday {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.3em;
}

.forecast-weather-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5em;
}

.forecast-weather-icon > img {
    width: 50px;
}

.forecast-table {
    display: flex;
    justify-content: space-evenly;
}