<link rel="stylesheet" href="/css/card.css">

<div class="body-container">
  <div class="card-container">

<h1> Login page </h1>

<form class= "card-form login" action="/user/login" method="post">
   <!--  <div class="login-div"> -->
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Email" />
    
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password">
<!--     </div> -->
   
    <button type="submit"> Login </button>
    
</form>
</div>
</div>



    

