<link rel="stylesheet" href="/css/card.css">

<div class="body-container">
  <div class="card-container">

<h1> Login page </h1>
<%= message %>
<form class= "card-form login" action="/user/login" method="post">

        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Email" />
    
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password">
    
    <button type="submit"> Login </button>
    
</form>
<form action="/user/forgot-password" method="get">
  <button type="submit"> Forgot Password </button>
</form>


  </div>
</div>



    

