<link rel="stylesheet" href="/css/card.css">

<div class="body-container">
  <div class="card-container">

    <h1>Request Password-Reset</h1>

    <% if(message) { %>
      <h2><%= message %></h2>
    <% } %>    

        <form class= "card-form" action="/forgot" method="post">
    
          <input type="email" name="email" placeholder="Email" placeholder="Type your email address..." required>
        
          <button type="submit"> Request Password Link </button>
      
        </form>

  </div>
</div>