<h1>Create an Account</h1>

<br>

<form action="/user/create" method="post" enctype="multipart/form-data">
  <input type="text" name="username" placeholder="Username" required>
  <br>
  <br>
  <input type="email" name="email" placeholder="Email" required>
  <br>
  <br>
  <input type="file" name="picture" placeholder="Upload a profile picture" />
  <br>
  <input type="password" name="password" placeholder="Password" required>
  <br>
  <br>
  <button type="submit"> Sign Up </button>
</form>