<h2>Sign Up</h2>
<form action="/user/new-user" method="post" enctype="multipart/form-data">
  <input type="text" name="username" required placeholder="Username"/>
  <input type="email" name="email" required placeholder="Email" />
  <input type="password" name="password" required placeholder="Password" />
  <input type="file" name="picture" placeholder="Upload a profile picture" />
  <button type="submit">Create Account</button>
</form>