<link rel="stylesheet" href="/css/card.css">

<div class="body-container">
  <div class="card-container">

    <h1>Create an Account</h1>
    <% if(message) { %>
      <h2><%= message %></h2>
    <% } %>  
        <form class= "card-form" action="/user/create" method="post" enctype="multipart/form-data">
    
          <input type="text" name="username" placeholder="Username" required>
          <input type="email" name="email" placeholder="Email" required>
         
          <input type="password" name="password" placeholder="Password" id="password" required onkeyup="checkMatch();">
          <input type="password" name="password-repeat" placeholder="Repeat Password" id="password-repeat" required onkeyup="checkMatch();">
          
          <div class="profile-pic">
    
            <input type="file" name="picture" placeholder="Upload a profile picture" />
           
          </div>

          <button type="submit"> Sign Up </button>
      
        </form>
        <div id="password-match"></div>
  </div>
</div>
<script src="../../public/js/index.js"></script>
