<form action="/user/test" method="post" enctype="multipart/form-data">
    <input type="file" name="profile-picture" placeholder="Upload a profile picture" />
    <button type="submit">Upload</button>
  </form>