<form action="/city/:id/add-place" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Add title" required>
    <textarea name="place-description" placeholder="Say something about this place..." required></textarea>
    <input type="file" name="image" placeholder="Add photo">
    <button type="submit">Add</button>
</form>