<form action="/city/:id/add-place" method="post">
    <input type="text" name="title" placeholder="Add title">
    <textarea name="place-description"></textarea>
    <button type="submit">Add</button>
</form>