<link rel="stylesheet" href="/css/paris.css">



<div class="paris-container">

    <div class="city-info">
        <div class="city-card">
            <h3> <%= result[0].country %>  </h3>
            <% result.forEach(function(item) { %>
                <h2><a href="/city/<%= item.id %>"><%= item.name %></h2></a>
                <% }); %>
        </div>
        
    
    </div>
    
</div>


